<nav class="navbar navbar-light bg-light px-3">
  <button id="toggle-sidebar" class="btn btn-outline-secondary me-2">
    ☰ Patienten
  </button>
  <span class="navbar-brand mb-0 h1">{{appName}}</span>
  <div>{{currentUser}}</div> <!-- ggf danach dann durch user erweitern -->
</nav>
