<div class="card mb-3">
  <div class="card-header">Patientendaten</div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><strong>Name:</strong> {{patient.name}}</li>
    <li class="list-group-item"><strong>Geburtsdatum:</strong> {{patient.dob}}</li>
    <li class="list-group-item"><strong>Geschlecht:</strong> {{patient.gender}}</li>
  </ul>
</div>
