<div class="card mb-3">
  <div class="card-header">Aktuelle Symptome</div>
  <ul class="list-group list-group-flush">
    {{#each symptoms}}
      <li class="list-group-item">{{this}}</li>
    {{else}}
      <li class="list-group-item text-muted">Keine Symptome erfasst.</li>
    {{/each}}
  </ul>
</div>
