<div class="output-box">
  <!-- Triage-Kreis -->
  <div id="triageIndicator" class="mb-3"></div>

  <!-- Diagnosen, Untersuchungen, Experten -->
  <ul id="resultData" class="list-group list-group-flush mb-0"></ul>
</div>

<script src="/js/main.js"></script>
