<div class="output-box">
  <ul id="resultData" class="list-group list-group-flush mb-0">
    {{!-- Wird per JavaScript befüllt: 
         Diagnosen, Untersuchungen, Behandlungen, Experten, Allergien --}}
  </ul>
</div>
