<div class="output-box">
  <div id="triageIndicator" class="mb-3"></div>

  <ul id="resultData" class="list-group list-group-flush mb-0">
    <li class="list-group-item">
      <strong class="me-3">Mögliche Diagnosen:</strong> –
    </li>
    <li class="list-group-item">
      <strong class="me-3">Triagestufe:</strong> –
    </li>
    <li class="list-group-item">
      <strong class="me-3">Untersuchungen:</strong> –
    </li>
    <li class="list-group-item d-block"> <!-- HIER liegt die Lösung -->
      <strong class="d-block mb-2">Experten:</strong>
      <ul id="expertsList" class="ps-4 mb-0">
        <li>–</li>
      </ul>
    </li>
  </ul>
</div>

<script src="/js/main.js" type="module"></script>
