<ul class="list-group mb-3">
  {{#each patients}}
    <li class="list-group-item">{{this}}</li>
  {{/each}}
</ul>
<button id="add-patient" class="btn btn-outline-primary w-100">
  + Hinzufügen
</button>
