<div class="tab-pane fade" id="pane-main" role="tabpanel" aria-labelledby="tab-main">
  <ul class="list-group mb-3">
    {{#each patients}}
      <li class="list-group-item">
        <a href="/patient/{{encodeURIComponent this}}" class="text-decoration-none patient-name">{{this}}</a>
      </li>
    {{/each}}

    {{#unless patients.length}}
      <li class="list-group-item text-center text-muted">
        Keine Patienten in Behandlung.
      </li>
    {{/unless}}
  </ul>
</div>
