<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{{appName}}</title>
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
  {{> header}}

    <div id="page-wrapper" class="d-flex">
        <aside id="sidebar" class="collapsed">
        {{> sidebar}}
        </aside>

        <main id="main-content" class="flex-grow-1 overflow-auto">
        <div class="container-fluid h-100 py-3">
            {{{ body }}}
        </div>
        </main>
    </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/js/main.js"></script>
</body>
</html>
