{{!-- views/500.hbs --}}
<div class="container text-center mt-5">
  <h1 class="text-danger">500 – Interner Serverfehler</h1>
  <p>{{message}}</p>
  <a href="/" class="btn btn-outline-primary mt-3">Zurück zur Übersicht</a>
</div>
