<body class="no-scroll">
<div class="index-fullscreen">
  <div class="fixed-container">
    <div class="left-image">
      <img src="/images/krankenhaus.jpg" alt="Krankenhaus" />
    </div>

    <div class="right-selection text-center">
  <h1>Personengruppe auswählen</h1>
  <div class="button-group">
    <a href="/dashboard?role=anmeldung" class="btn btn-outline-secondary btn-md">Anmeldung</a>
    <a href="/dashboard?role=koordination" class="btn btn-outline-primary btn-md">Koordination</a>
  </div>
</div>

  </div>
</div>
</body>
