<main class="container-fluid py-4">
  <h2 class="mb-4">Patientenakte: {{patient.name}}</h2>

  <div class="row">
    <!-- linke Spalte mit Cards -->
    <div class="col-md-4">
      {{> patient-info}}
      {{> patient-symptoms}}
      {{> patient-history}}
    </div>

    <div class="col-md-8">
      {{{ body }}}
    </div>
  </div>
</main>
