<div class="row">
  <!-- Wartende Patienten -->
  <div class="col-md-6 border-end pe-4" id="pane-waiting">
    <h4 class="mb-4">Wartende Patienten</h4>
    <ul class="list-group">
      {{#each waitingPatients}}
        <li class="list-group-item d-flex justify-content-between align-items-center">
          {{this.name}}
          <button class="btn btn-sm btn-outline-success move-to-active" data-name="{{this.name}}">
            <i class="bi bi-arrow-right-circle"></i>
          </button>
        </li>
      {{/each}}

      {{#unless waitingPatients.length}}
        <li class="list-group-item text-muted text-center">Keine wartenden Patienten</li>
      {{/unless}}
    </ul>
  </div>

  <!-- Aktive Patienten -->
  <div class="col-md-6 ps-4" id="pane-main">
    <h4 class="mb-4">In Behandlung</h4>
    <ul class="list-group">
      {{#each patients}}
        <li class="list-group-item">
          <a href="/patient/{{encodeURIComponent this}}" class="text-decoration-none">{{this}}</a>
        </li>
      {{/each}}

      {{#unless patients.length}}
        <li class="list-group-item text-muted text-center">Keine aktiven Patienten</li>
      {{/unless}}
    </ul>
  </div>
</div>

<script src="/js/main.js"></script>
